*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    width: 100%;
    height: 700px;
    background-color: antiquewhite;
    /* border-radius: 30px; */
    /* background-image: url(./top-view-yellow-rice-pita-arrangement_23-2148728164.avif); */
    /* background-image: url(./assorted-variety-indian-dishes-traditional-indian-food-chicken-tikka-masala-palak-paneer-saffron-rice-lentil-soup-pita-bread-spices-top-view-flat-laycopy-space_144356-70186.avif); */
    background-image: url(./view-ready-eat-delicious-meal-go_23-2151431768.avif);
    background-position: center;
    background-size: cover;
    
    
    

}
.Logo-sec{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 20px;
    /* margin-left: 400px; */
}
.Logo-sec h3{
    color: rgb(240, 238, 238);
    font-size: 25px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Logo-sec h3 em{
    color: rgb(11, 120, 7);
    font-size: 35px;
}
.card img{
    border-radius: 1200px;
    height: 92px;
    width: 95px;
    margin-left: 30px;
}
.heading-sec{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    margin-top: 10px;
}
.heading-sec h1{
    color: rgb(248, 239, 239);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.heading-sec h1 em{
    color: rgb(27, 137, 27);
}
.heading-sec h2{
    color: rgb(247, 246, 246);
    font-size: 35px;
}


/* .button{
    height: 30%;
    width: 100px;
} */
 .paragraph{
    width: 40%;
    height: 20%;
    background-color: transparent;
    /* border: 3px solid rgb(10, 12, 30); */
    border-radius: 60px;
    margin-bottom: 20px;
    
 }
.p{
    color: rgb(150, 18, 18);
    text-align: center;
    font-size: 23px;
}
.p em{
    color: rgb(5, 86, 17);
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20PX;
}


.address1{
    height: 13%;
    width: 100%;
    background-color: rgb(7, 70, 8);
    /* border-radius: 90px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    
}
.button{
    height: 9%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 30px;

}

.button button{
    height: 40px;
    width: 170px;
    /* box-shadow: 3px 3px 3px 3px rgb(19, 228, 64); */
    border-radius: 35px;
    background-color: transparent;
    border: 3px solid rgb(11, 137, 17);
    color: white;
    font-size: 18px;
}
.button button:hover{
    background-color: rgb(223, 239, 46);
    color: rgb(10, 161, 20);
    border: green;
    font-size: 22px;
}
.address2{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
   gap: 32px;
   margin-right: 18px;


}
 .address2 a{
    color: rgb(243, 250, 55);
    font-size: 20px;
    font-display: none;
}

.address2 a:hover{
    color: rgb(18, 171, 36);
}

.address2 i{
    color: rgb(102, 199, 72);

}

.address2 h2{
    color: rgb(228, 248, 49);
}
.address2 h2:hover{
    color: rgb(36, 194, 18);
}

.address2 h3{
    color: rgb(228, 248, 49);
}
.address2 h3:hover{
    color: rgb(14, 185, 51);
}




@media (max-width:480px) {


    .card{
        width: 89%;
        height: 560px;
    
    
    }
    .Logo-sec{
        height: 20%;
        width: 100%;
       
    }
    .Logo-sec h3{
        
    }
    .Logo-sec h3 em{
        color: rgb(11, 120, 7);
        font-size: 15px;
    }
    .card img{
        border-radius: 1200px;
        height: 92px;
        width: 95px;
        margin-left: 30px;
    }
    .heading-sec{
        height: 40%;
        width: 100%;
    margin-top: 90px;
       
    }
    .heading-sec h1{
        color: rgb(248, 239, 239);
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
    }
    .heading-sec h1 em{
        color: rgb(27, 137, 27);
    }
    .heading-sec h2{
        color: rgb(247, 246, 246);
        font-size: 25px;
    }
    
    
    
     .paragraph{
        /* width: 40%;
        height: 20%; */
        display: none;
    
        
        
        
     }
    .p{
        color: rgb(150, 18, 18);
        text-align: center;
        font-size: 19px;
    }
    .p em{
        color: rgb(5, 86, 17);
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        /* margin-bottom: 20PX; */
    }
    
    
    
    .address1{
        height: 170px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
       
        
    }
    .button{
        height:auto;
        width: 100%;
      /* margin-bottom: 20px; */
       
    
    }
    
    .button button{
        height: 28px;
        width: 130px;
        font-size: 15px;
       
    }
    .button button:hover{
        background-color: rgb(223, 239, 46);
        color: rgb(10, 161, 20);
        border: green;
        font-size: 15px;
    }
    .address2{
        height: auto;
        width: 100%;
        flex-direction: column;
        
    
    
    }
     .address2 a{
        color: rgb(243, 250, 55);
        font-size: 10px;
        font-display: none;
    }
    
    .address2 a:hover{
        color: rgb(18, 171, 36);
    }
    
    .address2 i{
        color: rgb(102, 199, 72);
    
    }
    
    .address2 h2{
        font-size: 15px;
        color: rgb(228, 248, 49);
    }
    .address2 h2:hover{
        color: rgb(36, 194, 18);
    }
    
    .address2 h3{
        color: rgb(228, 248, 49);
        font-size: 15px;
    }
    .address2 h3:hover{
        color: rgb(14, 185, 51);
    }
    
    
}

@media (max-width:768px) {


    .main-container{
        width: 100%;
        height: 700px;
       
    
    }
    .card{
        width: 89%;
        height: 560px;
       
        
        
        
    
    }
    .Logo-sec{
        height: 20%;
        width: 100%;
       
    }
    .Logo-sec h3{
        
    }
    .Logo-sec h3 em{
        color: rgb(11, 120, 7);
        font-size: 15px;
    }
    .card img{
        border-radius: 1200px;
        height: 92px;
        width: 95px;
        margin-left: 30px;
    }
    .heading-sec{
        height: 40%;
        width: 100%;
    margin-top: 90px;
       
    }
    .heading-sec h1{
        color: rgb(248, 239, 239);
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
    }
    .heading-sec h1 em{
        color: rgb(27, 137, 27);
    }
    .heading-sec h2{
        color: rgb(247, 246, 246);
        font-size: 25px;
    }
    
    
    
     .paragraph{
        /* width: 40%;
        height: 20%; */
        display: none;
    
        
        
        
     }
    .p{
        color: rgb(150, 18, 18);
        text-align: center;
        font-size: 19px;
    }
    .p em{
        color: rgb(5, 86, 17);
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        /* margin-bottom: 20PX; */
    }
    
    
    
    .address1{
        height: 170px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
       
        
    }
    .button{
        height:auto;
        width: 100%;
      /* margin-bottom: 20px; */
       
    
    }
    
    .button button{
        height: 28px;
        width: 130px;
        font-size: 15px;
       
    }
    .button button:hover{
        background-color: rgb(223, 239, 46);
        color: rgb(10, 161, 20);
        border: green;
        font-size: 15px;
    }
    .address2{
        height: auto;
        width: 100%;
        flex-direction: column;
        
    
    
    }
     .address2 a{
        color: rgb(243, 250, 55);
        font-size: 10px;
        font-display: none;
    }
    
    .address2 a:hover{
        color: rgb(18, 171, 36);
    }
    
    .address2 i{
        color: rgb(102, 199, 72);
    
    }
    
    .address2 h2{
        font-size: 15px;
        color: rgb(228, 248, 49);
    }
    .address2 h2:hover{
        color: rgb(36, 194, 18);
    }
    
    .address2 h3{
        color: rgb(228, 248, 49);
        font-size: 15px;
    }
    .address2 h3:hover{
        color: rgb(14, 185, 51);
    }
    
    
}

